---
import PageLayout from "../layouts/page-layout.astro";

---
<PageLayout>
    <main class="w-full max-w-[50em] p-[16px] m-auto">
		<h1>
            Error
        </h1>
        <p>
            No se ha encontrado la página a la que estás intentando acceder. Vuelve a <a href="/" style="color: #1c18ff">la página principal</a>
        </p>
	</main>
</PageLayout>