---
import PageLayout from "../layouts/page-layout.astro"
import ArticleCard from "../components/article-card.astro"
---

<PageLayout>
	<main class="w-full max-w-[50em] p-[16px] m-auto">
		<section class="w-full grid grid-cols-2 gap-[20px] mt-[40px] md:grid-cols-1">
			<ArticleCard
				link="article/neteja-de-males-herbes"
				name="Comença la neteja de males herbes per les aceres 🧹🌿"
				topic="actualitat"
				date="16/09/23"
				image="https://cdn.discordapp.com/attachments/1152239048220475516/1152544300412973096/males-herbes-al-carrer.webp"
			/>
			<ArticleCard
				link="article/pluges-a-badalona"
				name="Avís vermell per pluges a Badalona ☔"
				topic="actualitat"
				date="15/09/23"
				image="https://cdn.discordapp.com/attachments/1152239048220475516/1152239114821832757/avisvermell.webp"
			/>
		</section>
	</main>
</PageLayout>
