---
import PageLayout from "../layouts/page-layout.astro"
import Posts from "../components/posts.svelte";

const posts = await Astro.glob("./article/*.mdx")
---

<PageLayout>
	<main class="w-full max-w-[50em] p-[16px] m-auto">
		<section class="w-full grid grid-cols-2 gap-[20px] mt-[40px] md:grid-cols-1">
			<Posts posts={posts} />
		</section>
	</main>
</PageLayout>
