---
import PageLayout from "../layouts/page-layout.astro"
import ArticleCard from "../components/article-card.astro"
---

<PageLayout>
	<main class="w-full max-w-[50em] p-[16px] m-auto">
		<section class="w-full grid grid-cols-2 mt-[40px]">
			<ArticleCard
				link="article/pluges-a-badalona"
				name="Avís vermell per pluges a Badalona ☔"
				topic="actualitat"
				date="15/09/23"
				image="https://cdn.discordapp.com/attachments/1152239048220475516/1152239114821832757/avisvermell.webp"
			/>
		</section>
	</main>
</PageLayout>
