---
---
<nav class="flex justify-center items-center w-full max-w-[50em] p-[16px] m-auto gap-[40px]">
	<a href="/" class="ml-[16px] flex text-center justify-center items-center gap-[15px]">
		<img src="/elbadaloni.webp" alt="Imatge de elbadaloní." class="w-[68px] h-[58px] rounded-[10px] aspect-square" />
        <h2 class="text-gray-500">
            elbadaloní
        </h2>
	</a>
	<div class="w-full ml-0">
		<a href="/">Inicio</a>
	</div>
</nav>
