---
import { ViewTransitions } from "astro:transitions";
import Navigation from "../components/navigation.astro"
import Tweet from "../components/tweet.svelte";
---

<!doctype html>
<html lang="en" style="scrollbar-gutter: stable;">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>elbadaloní</title>
		<link rel="icon" href="/elbadaloni.webp">
		<ViewTransitions />
		<meta name="title" content="elbadaloní">
		<meta name="description" content="Noticies diaries de Badalona 🏙️">
		<meta name="og:title" content="elbadaloní">
		<meta name="og:description" content="Noticies diaries de Badalona 🏙️">
		<meta property="og:image" content="/elbadaloni.webp" />
		<meta property="og:url" content="badaloni.netlify.app" />
	</head>
	<body class="bg-slate-50 w-full min-h-[100vh] text-start">
		<Navigation />
		<slot />
	</body>
</html>
